@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
	background-color: black;
}

header {
	display: inline-block;
	position: absolute;
	width: 1850px;
	height: 750px;
	left: 20px;
	top: 20px;
	background-color: #051733;
	border: 10px solid #e6830b;
}

header img {
	top: 0px;
	width: 1100px;
	height: 143px;
	left: 500px;
}

header div img {
	width: 384px;
	height: 216px;
}

footer div {
	display: inline-block;
	position: absolute;
	width: 1680px;
	height: 400px;
	left: 100px;
	top: 870px;
	background-color: #051733;
	border: 10px solid #e6830b;
}

.R3 {
	display: inline-block;
	position: absolute;
	left: 685px;
	top: 460px;
	background-color: #051733;
}

.R4 {
	display: inline-block;
	position: absolute;
	left: 60px;
	top: 540px;
	background-color: #051733;
}

.R5 {
	display: inline-block;
	position: absolute;
	left: 320px;
	top: 650px;
	background-color: #051733;
}

.R6 {
	display: inline-block;
	position: absolute;
	right: 100px;
	top: 540px;
	background-color: #051733;
}

.R7 {
	display: inline-block;
	position: absolute;
	right: 320px;
	top: 650px;
	background-color: #051733;
}

header li img {
	width: 500px;
	height: 65px;
}

footer h1 {
	padding-left: 715px;
	font-family: 'Oswald', sans-serif;
}

footer h2 {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	font-family: 'Oswald', sans-serif;
}